.book.font-family-0 {
  font-family: "Noto Serif SC", sans-serif;
}
.book.font-family-1 {
  font-family: "Noto Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.book .book-summary ul.summary {
  font-family: "Noto Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.book .book-summary ul.summary li.active > a {
  color: unset;
  /* background: transparent; */
  /* font-weight: bold; */
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif SC", Georgia, "Times New Roman", Times, serif;
}
.markdown-section pre, .markdown-section code {
  font-family: 'Cascadia Code', Consolas, monospace, "Noto Sans SC";
}

.back-to-top {
  text-align: center;
  background: hsla(267, 18%, 61%, 0.6);
}
.back-to-top:hover {
  background: hsla(267, 18%, 81%, 0.7);
  cursor: pointer;	
}
.back-to-top span {
  color: #fff;
  font-size: 22px;
}

.copy-code-button {  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.copy-code-button:hover {
  background-color: rgba(126, 126, 126, 0.205);
}

/* .material-symbols-rounded {
  line-height: 50px;
} */

html {
  
  scroll-padding-top: 61px;
}

#book-search-input,
#book-search-input-link {
  top: 0px;
  width: clac(100%-20px);  
  position: -webkit-sticky;
  position: sticky;
  font-family: "Noto Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding-left: 24px;
  padding-top: 6.5px; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  top: 5px;
  height: 51px;
  background: hsla(262, 100%, 98%, 0.42);
  z-index: 3;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 40px;
  border: 1px solid hsl(280, 10%, 89%);
}

#book-search-input .material-symbols-rounded {
  color: hsl(0, 0%, 50%);
  margin-left: 10px;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  line-height: unset;
}

.avatar-container-active {
  width: 50%;
  max-width: 150px;
  margin: 0 auto;
  padding-top: 10px;
}

.my-avatar-active {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover; 
}

.avatar-container li {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 3px;
  height: 50px;
}

.my-avatar {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 27px;
  margin-right: -5px;
}

.book .book-summary {
  position: fixed;
  background: hsl(267, 12%, 97%);
}

.book .book-body {
  overflow-y: visible;
}

.book .book-body .book-header {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  height: 60px;
  border-bottom: 1px solid hsl(280, 10%, 89%);
}

.book .book-body .body-inner {
  margin-top: 0px;
  padding-top: 61px;
  overflow-y: visible;
  height: -moz-fit-content;
  height: fit-content;
  background: inherit;
}

.book .book-body .body-inner .page-wrapper {
  height: -moz-fit-content;
  height: fit-content;
}

.book-header .btn {    
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: hsl(0, 0%, 50%);
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
  border-radius: 50%;
}

.book-header .btn:hover {
  background: hsla(0, 0%, 0%, 0.10);
  color: hsl(0, 0%, 50%);
}

.book-header .btn:active {
  background: hsla(0, 0%, 0%, 0.20);
}

.book-header .btn .material-symbols-rounded {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  line-height: unset;
}

.dropdown-menu {
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); 
  background: rgba(255, 255, 255, 1);
  opacity: 0;
  padding-left: 10px;
  padding-right: 10px;
  /* display: block; */
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.dropdown-menu.open {
  opacity: 1;
  background: rgba(255, 255, 255, 1);
}

.dropdown-menu button {
  background: transparent;
}

.book-header h1 {
  padding-top: 12px;
  padding-bottom: 5.5px;
  margin: 0;
  color: hsl(0, 0%, 50%);
  font-family: "Noto Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  line-height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, padding .3s ease;
  -moz-transition: opacity .3s ease, padding .3s ease;
  -o-transition: opacity .3s ease, padding .3s ease;
  transition: opacity .3s ease, padding .3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.book-header h1 a,
.book-header h1 a:hover {
  color: inherit;
  text-decoration: none
}

@media (max-width:1000px) {
  .book-header h1 {
    font-size: 14px;
    display: block;
  }
}

.book-header:hover h1 {
  opacity: 0
}
.book-header h1 a:focus {
  outline: none;
}
.book-header.title-visible h1 {
  padding-top: 4.5px;
  opacity: 1;
}

.book-summary ul.summary li {
  border-radius: 15px;
  margin: 5px 10px;
  background: transparent;
  border: 1px solid transparent;
  max-height: 40px;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease, max-height 1s ease;
}
.book-summary ul.summary li a {
  padding: 7px 10px;
}
.book-summary ul.summary li.active {
  background: hsla(0, 0%, 0%, 0.05);
}
.book-summary ul.summary li:hover {
  background: hsla(0, 0%, 0%, 0.05);
}
.book-summary ul.summary li:active {
  background: hsla(0, 0%, 0%, 0.10);
}
.book-summary ul.summary li a:hover {
  text-decoration-line: none;
}
.book-summary ul.summary li a:focus {
  outline: none;
}

.book-summary ul.summary li.divider {
  margin-left: 10px;
  margin-right: 10px;
}